<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="/media/css/header.css" type="text/css">
    <link rel="stylesheet" href="/media/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/media/css/style.css" type="text/css">
    <link rel="stylesheet" href="/media/css/font-awesome.min.css">
</head>
