<header class="site-header" id="headerout">

  <div class="wrapper" id="headerin">    
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <h1 id="blogtitle">
      <a href="/home_page">
        Japhon's Blog
      </a>
    </h1>
    <h4>continue to modify</h4>    
  </div>

  <nav class="site-nav" id="navconf">
    <div class="trigger">
      <li class="page-link">
        <a  href="/"> Home </a>
      </li>
      <li class="page-link">
        <a  href="/home_page"> Blog </a>
      </li>
      {% for page in site.pages %}
        {% if page.title %}
        <li class="page-link">
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </div>
  </nav>
</header>
