<header class="site-header" id="headerout">

  <div class="wrapper" id="headerin">    
    <h1 id="blogtitle">
      <center><a href="/home_page"> Japhon's Blog</a></center>
    </h1>
    <br />
  </div>

  <nav class="site-nav" id="navconf">
    <div class="trigger">
      <li class="page-link">
        <a  href="/"> 封面 </a>
      </li>
      {% for page in site.pages %}
        {% if page.title %}
        <li class="page-link">
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </div>
  </nav>
</header>
